.receitas {
  max-width: 1800px;
  margin: auto;
  display: grid;
  gap: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.receita-card {
  display: grid;
  grid-template-columns: 350px auto;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.receita-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.receita-texto {
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.receita-texto h2 {
  margin: 0 0 0.5rem;
}

.receita-texto p {
  margin: 0 0 0.75rem;
  color: #555;
}

.receita-texto span {
  font-size: 0.9rem;
  color: #888;
}

h1
{
    margin-bottom: 0px;
}